{% block content %}
    <p>
        General kenoby!
    </p>
    <ul>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>lineeee</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
        <li>line</li>
    </ul>
{% endblock %}